
@model EmployeeViewModel
@{
    ViewData["Title"] = " Index";
}

<h2>Employee Data</h2>
<script>
    function ConfirmView(form, EmployeeID) {
        if (confirm("Are you sure you want to view sales from Employee #" + EmployeeID + "?")) {
            form.submit(); // if true, submit form
        }
    }

</script>
<!--<a asp-area="" asp-controller="Sale" asp-action="Index">Sales</a>-->
<a asp-controller="Employee" asp-action="CreateNewEmployee">Add New Employee</a>

<table class="table table-bordered">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Title</th>
        <th>Date of Birth</th>
    </tr>
    @foreach (Employee emp in Model.EmployeeList)
    {
    <tr>
        <td>@emp.EmployeeID</td>
        <td>@emp.FirstName</td>
        <td>@emp.MiddleInitial</td>
        <td>@emp.LastName</td>
        <td>@emp.EmailAdress</td>
        <td>@emp.PhoneNumber</td>
        <td>@emp.Title</td>
        <td>@emp.DateOfBirth</td>
        <td>
        <form asp-action="ViewSales" asp-controller="Sale">
            <input type="hidden" name="salesToView" value="@emp.EmployeeID" />  <!-- name must be same as the parameter in the called method -->
            <input type="button" value="View Sales" onclick="ConfirmView(this.form,'@emp.EmployeeID')" />
        </form>
            </td>
    </tr>
    }
</table>