
@model EmployeeViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Employee Data</h2>
<script>
    function ConfirmDelete(form, EmployeeID) {
        if (confirm("Are you sure you want to delete Employee #" + EmployeeID +" and all the Sales?")) {
            form.submit(); // if true, submit form
        }
    }

</script>
<a asp-controller="Employee" asp-action="CreateEmployeePage">Add New Employee</a>

<table class="table table-bordered">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Title</th>
        <th>Date of Birth</th>
    </tr>
    @foreach (Employee emp in Model.EmployeeList)
    {
        <tr>
            <td>@emp.EmployeeID</td>
            <td>@emp.FirstName</td>
            <td>@emp.MiddleInitial</td>
            <td>@emp.LastName</td>
            <td>@emp.EmailAddress</td>
            <td>@emp.PhoneNumber</td>
            <td>@emp.Title</td>
            <td>@emp.DateOfBirth</td>

            <td>

                <form asp-action="ViewSales" asp-controller="Sale">
                    <input type="hidden" name="empID" value="@emp.EmployeeID" />  <!-- name must be same as the parameter in the called method -->
                    <input class="btn btn-primary" type="submit" value="View Sales" />
                </form>


                <form asp-action="UpdateEmployeePage" asp-controller="Employee">
                    <input type="hidden" name="updateEmployeeInfo" value="@emp.EmployeeID" />  <!-- name must be same as the parameter in the called method -->
                    <input class="btn btn-primary" type="submit" value="Update" />
                </form>

                    <form asp-action="DeleteEmployee" asp-controller="Employee">
                        <input type="hidden" name="deleteEmployeeInfo" value="@emp.EmployeeID" />

                        <input class="btn btn-danger" type="button" value="Delete" onclick="ConfirmDelete(this.form,'@emp.EmployeeID')" />
                    </form>

            </td>
        </tr>


    }
</table>